<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">📚 Book Store</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/displayBook" >Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sellReport">Sales Reports</a>
          </li>
        </ul>
        <ul class="navbar-nav gap-2 d-md-flex justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>